body{
    font-family: Arial, sans-serif;
    text-align:center;
    padding:40px;
}

textarea{
    width:300px;
    height:100px;
    padding:10px;
}

button{
    margin-top:10px;
    padding:10px 20px;
    cursor:pointer;
}

#notesContainer p{
    background:#f2f2f2;
    width:300px;
    margin:10px auto;
    padding:10px;
    border-radius:5px;
}